extends layout

block content
  div.jumbotron.my-3
    h1.display-4 イベント管理くん
    p.lead イベント管理くんは、GitHub と Googleで認証でき、イベントの作成・申し込みができるサービスです。（履修登録のようなものをイメージして作ったので、毎週同じ曜日に行われるイベントが主な対象です）
  if user
    div
      a(href="/schedules/new").btn.btn-info イベントを作る
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3.my-3 イベント一覧
      table.table
        tr
          th イベント名
          th 曜日
          th 申し込み
        each schedule in schedules
          - var dayName = ['月曜日','火曜日','水曜日','木曜日','金曜日', 'その他'] 
          - var day = schedule.day
          tr
            td
              a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
            td #{dayName[day]}
            td
              //- #{availability}
              //- each user in users
              //-   - var availability = availabilityMap.get(user.userId);
              //-   - var availabilityLabels = ['このイベントに申し込む', '申し込みを取り消す'];
              //-   - var buttonStyles = ['btn-primary', 'btn-danger'];
              //-   button(class=`availability-toggle-button btn-lg ${buttonStyles[availability]}`
              //-     data-schedule-id=schedule.scheduleId
              //-     data-user-id=user.userId
              //-     data-availability=availability).my-3 #{availabilityLabels[availability]}