extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      p(style="white-space:pre;") #{schedule.memo}
    div.card-footer
      - var dayName = ['月曜日','火曜日','水曜日','木曜日','金曜日' ,'その他']
      - var day = schedule.day
      p #{dayName[day]}  #{style}  #{term}
  //- div.form-group
  //-   label(for="shareURL") 共有用 URL:
  //-   - var herokuURL = process.env.HEROKU_URL ? process.env.HEROKU_URL : 'http://localhost:8000/'
  //-   input(type="text" value=`${herokuURL}schedules/${schedule.scheduleId}/`)#shareURL.form-control
  - var isMineOrAdmin = (createdBy === userId || userId === "109000785926202904276")
  if isMineOrAdmin
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info このイベントを編集する

  - var availabilityLabels = ['このイベントに申し込む', '申し込みを取り消す'];
  - var buttonStyles = ['btn-primary', 'btn-danger'];
  button(class=`availability-toggle-button btn-lg ${buttonStyles[myAvailability]}`
    data-schedule-id=schedule.scheduleId
    data-user-id=userId
    data-availability=myAvailability).my-3 #{availabilityLabels[myAvailability]}